.header__title {
    width: 730px;
    margin-top: auto;
    margin-bottom: auto;
    height: auto;
    font-weight: bold;
    margin-left: 64px;
    z-index: 2;
    font-size: 102px;
    line-height: 96px;
  }